.teacherHome {
  padding-top: 10vh;
  h1{
    font-size: 32px;
    margin-bottom: 20px;
  }
  .cards {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    .entry-item{
      margin: 0 20px 50px 0;
      .ant-card-cover {
        padding-top:20px
      }
    }
  }
}