.letter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.letter-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.letter-container {
  width: 50vw;
  height: 50vh;
  display: flex;
}